  .jobCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
    padding: 0px;
    transition: 1s;
    background-color: white;
    border: 4px solid black;
    color: black;
    border-radius: 25px;
  }
  .jobCard:hover{
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: all 1s;
  }
 .imgLeft{
     text-align: left;
     padding: 0px;
 }
 img{
     width: 100%;
     height: auto;
 }
 .text{
   margin-top: 8px;
   margin-left: 8px;
  font-size: 24px;
 }
  .textEllipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    font-size: 20px;
    margin-top: 8px;
    margin-left: 8px;
  }
  @media only screen and (max-width: 767px) {
    .text {
      font-size: 20px;
    }
    .textEllipsis{
      font-size: 18px;
    }
  }