  .jobCard {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 0px;
    transition: 0.2s;
    background-color: white;
    border: 0px solid black;
    color: black;
    border-radius: 8px;
    margin: 0px 20px;
  }
  .parent{
    margin: 5px;
  }
  .jobCard:hover{
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    transition: all 0.5s;
  }
 .imgLeft{
     padding: 8px;
 }
 img{
     width: 100%;
     height: auto;
 }
 .text{
   margin: 8px 20px 24px 20px;
   font-weight: 800;
   font-size: 28px;
   align-items: center;
   justify-content: center;
   text-align:center;
 }
  .textEllipsis{
    margin: 8px  20px 8px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    font-size: 20px;
  
    align-items: center;
    justify-content: center;
    text-align:justify;
  }
  @media only screen and (max-width: 767px) {
    .text {
      font-size: 24px;
      text-align: justify;
    }
    .textEllipsis{
      font-size: 18px;
      text-align: justify;
    }
  }