.cardImg {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    background-color: #800000;
    border: 8px solid black;
    color: white;
    border-right: none;
    width: 50%;
  }
  .cardText {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    background-color: #202020;
    border: 8px solid black;
    color: white;
    border-left: none;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
 .imgLeft{
     text-align: left;
 }
 img{
     width:80%;
 }
 .text{
     text-align: center;
 }
  .cardWrapper{
      display: flex;
  }
  .cardWrapper:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  .textEllipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  