.searchTerm {
    width: -webkit-fill-available;
    border: 1px solid #d3d3d3;
    padding: 6px;
    height: auto;
    outline: none;
    color: #9DBFAF;
    font-size: 20px;
    font-weight: 400;
  }
  .searchTerm:hover {
    opacity: 0.8;
  }
  .searchTerm:focus{
    color: black;
  }
  .display{
    padding: 0.8rem;
    position:relative;
    margin: 10px;
    height:auto; 
  }
 .page{
   margin: 16px;
 }
 .date{
   float: right;
   color: gray;
   margin-right: 20px;
   padding-bottom: 10px;
 }
.sort{
  font-size: 20px;
}