.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 1px solid #333745;;
    padding: 5px;
    height: 20px;
    border-radius: 2px 0 0 2px;
    outline: none;
    color: #9DBFAF;
  }
  .searchTerm:hover {
    opacity: 0.8;
  }
  .searchTerm:focus{
    color: black;
  }
  
  .wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .display{
    padding: 0.8rem;
    position:relative;
    margin:0 auto;
    clear:left;
    height:auto;
    z-index: 0;
    text-align:center;
  }